@using XMLParser.Model;
@using XMLParser.Service;
@model List<Node>
@{
    async Task<Node> TreeView(Node nodes)
    {

        var childCount = nodes.ChildNodes?.Count ?? 0;
        if (childCount < 1)
            return null;

        for (int i = 0; i < childCount; i++)
        {
            var item = nodes.ChildNodes[i];

            <ul>
                <li>
                   <button class="bnt">
                     @item.ShortName
                   </button>
                   
                </li>       
            </ul>  
    
            <ul> 
                <detailc>
                    <button class="btn" asp-page-handler="BtnClick" >
                                   @item.ShortName
                    </button>
                        @TreeView(item) 
                </detailc> 
                
            </ul>  
            
        }
        return null;
    }
    
}
@await Html.PartialAsync("_AttributeRepresentation")
@{
    foreach (var item in Model)
    {
        <details>
            <summary>
                <button class="btn" asp-page-handler="BtnClick">
                    @item.ShortName
                </button>

            </summary>


            <ul id="myList">
                @TreeView(item)
            </ul>
        </details>
    }
}


@{ 
    foreach (var item in Model)
    {
        <details>
            <summary>
                <button class="btn" asp-page-handler="BtnClick">
                    @item.ShortName
                </button>
                
            </summary>


            <ul id="myList">
                @TreeView(item)
            </ul>
        </details>        
    }
}
